body {
  background-color: #c9b5ab;
}

h1 {
  font-family: 'PT Sans', sans-serif;
}

a {
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
  color: #8f2440;
}

ol {
  list-style-type: none;
}

font-family: 'PT Serif', serif;
