html {
  line-height: 1.5;
}

body {
  background-color: #c9b5ab;
}

h1 {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5rem;
}

img {
  width: 100%;
}

a {
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
  color: #8f2440;
  font-weight: bold;
}

ol {
  list-style-type: none;
  font-size: 1.125rem;
}

figcaption {
  font-family: 'PT Serif', serif;
  text-align: center;
  font-style: italic;
}
.time {
    font-family: 'PT Serif', serif;
    font-size: 1.125rem;
    font-weight: bold;
}

.two {
  font-family: 'PT Serif', serif;
}

.three {
  font-family: 'PT Serif', serif;
}

.quote {
  font-style: italic;
  font-size:1.5rem
}

.quote strong {
  font-weight: normal;
}

blockquote cite {
  font-size:0.8rem
}

h2 {
  font-family: 'PT Sans', sans-serif;
}
